@model TESTEBACKEND.Models.Medico

@{
    ViewData["Title"] = "Create";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/Medicos.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>
<body>
    <div class="right-section">
        <h2>Dados do Médico</h2>
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="NomeMedico" class="control-label"></label>
                        <input asp-for="NomeMedico" class="form-control" />
                        <span asp-validation-for="NomeMedico" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CRM" class="control-label"></label>
                        <input asp-for="CRM" class="form-control" />
                        <span asp-validation-for="CRM" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Especialidade" class="control-label"></label>
                        <input asp-for="Especialidade" class="form-control" />
                        <span asp-validation-for="Especialidade" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Contato" class="control-label"></label>
                        <input asp-for="Contato" class="form-control" />
                        <span asp-validation-for="Contato" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Cadastrar Médico" class="btn btn-primary" />
                    </div>
                </form>
            </div>
</body>
</html>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
