@model TESTEBACKEND.Models.Clinica

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro da Clínica</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-x4pG2AjK9sNJLSpjNlFKz28qiK5IvRf4+pcTzZ6B09gok4KlXv3Uop3mOMpf4+ch" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/Cadastro.css">
</head>
<body>
    <br />
<h4>Cadastro da Clínica</h4>
    <p>
        Bem-vindo à nossa clínica! Estamos felizes em recebê-lo como parte da nossa comunidade de saúde. Ao se cadastrar, você terá acesso a uma variedade de serviços e recursos para cuidar da sua saúde da melhor maneira possível.
        </p>
        <p>
        Por favor, preencha o formulário abaixo com suas informações pessoais para criar sua conta. Após o registro, você poderá marcar consultas, receber lembretes de compromissos, acessar seus registros médicos e muito mais.
    </p>
    <div class="content container">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="text" placeholder="Nome da Clínica" asp-for="NomeClinica" class="form-control">
                <span asp-validation-for="NomeClinica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="text" placeholder="Endereço da Clínica" asp-for="Endereco" class="form-control">
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="text" placeholder="Telefone para Contato" asp-for="Contato" class="form-control">
                <span asp-validation-for="Contato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="text" placeholder="Descrição da Clinica" asp-for="Descricao" class="form-control">
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="especialidade">Especialidade(s)</label>
                <select class="form-select" multiple aria-label="multiple select example" id="especialidade" name="especialidade">
                    <option selected>Indique uma ou mais especialidades.</option>
                    <option value="Cardiologia">Cardiologia</option>
                    <option value="Dermatologia">Dermatologia</option>
                    <option value="Pediatria">Pediatria</option>
                </select>
                <span asp-validation-for="Especialidade" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label for="servicos">Serviços</label>
                <select class="form-select" multiple aria-label="multiple select example" id="servicos" name="servicos">
                    <option selected>Indique um ou mais serviços.</option>
                    <option value="exame">Exame</option>
                    <option value="consulta">Consulta</option>
                </select>
                <span asp-validation-for="Servicos" class="text-danger"></span>
            </div>
            <!--div class="form-group">
                <label for="exames">Exames</label>
                <input type="text" id="exames" name="exames">
                <span asp-validation-for="Exames" class="text-danger"></span>
            </div--->
            <div class="form-group">
                <input type="submit" value="Efetuar Cadastro" class="btn"/>
            </div>
        </form>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
    </body>
</html> 
