@model TESTEBACKEND.Models.Clinica

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro da Clínica</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-x4pG2AjK9sNJLSpjNlFKz28qiK5IvRf4+pcTzZ6B09gok4KlXv3Uop3mOMpf4+ch" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script type="module" src="~/js/search.js"></script>
    <link rel="stylesheet" href="~/css/Cadastro.css">
</head>
<body>
    <br />
<h4>Cadastro da Clínica</h4>
    <h5>
        <span class="destaque">
            Explore novas oportunidades com o Hub More Health!
        </span>
    </h5>
    <hr />
    <p>
        O Hub More Health nasceu com uma missão clara: democratizar o acesso às clínicas, especialmente para pessoas na melhor idade. 
        Nosso compromisso é proporcionar uma plataforma intuitiva que reúne uma ampla gama de serviços e prestadores de saúde, facilitando escolhas conscientes na busca por atendimento de qualidade.
        </p>
        <p>
        Para continuar o cadastro de sua clínica em nossa plataforma, é necessário preencher os dados solicitados abaixo. Essas informações são essenciais para entendermos melhor suas necessidades e garantir um atendimento personalizado desde o início.
        </p>
        <p>
        Após o preenchimento dos dados, nossa equipe entrará em contato para fornecer todos os detalhes sobre como nossa plataforma funciona e como você pode começar a utilizá-la para melhorar a gestão de sua clínica.
        </p>

        <form asp-action="Create">
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col">
                <input type="text" placeholder="Razão Social" asp-for="NomeClinica" class="form-control">
                <span asp-validation-for="NomeClinica" class="text-danger"></span>
            </div>
           
            <div class="form-group col">
                <input type="text" placeholder="CNPJ" asp-for="CNPJ" class="form-control">
                <span asp-validation-for="CNPJ" class="text-danger"></span>
            </div>

            <div class="form-group col">
                <input type="text" placeholder="Telefone para Contato" asp-for="Contato" class="form-control">
                <span asp-validation-for="Contato" class="text-danger"></span>
            </div>
            </div>

            <div class="form-group">
                <input type="text" placeholder="Endereço da Unidade" asp-for="Endereco" class="form-control">
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Efetuar Cadastro" class="btn"/>
            </div>
        </form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
    </body>
</html> 
