@model TESTEBACKEND.Models.Clinica

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Clinica</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NomeClinica" class="control-label"></label>
                <input asp-for="NomeClinica" class="form-control" />
                <span asp-validation-for="NomeClinica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Especialidade" class="control-label"></label>
                <input asp-for="Especialidade" class="form-control" />
                <span asp-validation-for="Especialidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco" class="control-label"></label>
                <input asp-for="Endereco" class="form-control" />
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contato" class="control-label"></label>
                <input asp-for="Contato" class="form-control" />
                <span asp-validation-for="Contato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Servicos" class="control-label"></label>
                <input asp-for="Servicos" class="form-control" />
                <span asp-validation-for="Servicos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
