@model TESTEBACKEND.Models.Cliente

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil do Usuário</title>
    <link rel="stylesheet" href="~/css/profile.css">
</head>
<body>
    <br />
    <dl class="row">
        <dt class="col-sm-2">
            <img class="img-profile" src="~/img/user.png" alt="Perfil do Usuario">
        </dt>
        <dd class="col-sm-10">
            <div class="header-container">
                <h1>@Html.DisplayFor(model => model.Nome)</h1>
                <button class="btn ms-auto">Editar Perfil</button>
                </div>

                <div>
                    @{
DateTime dataNascimento = Model.DataNascimento;
int idade = DateTime.Today.Year - dataNascimento.Year;
if (dataNascimento.Date > DateTime.Today.AddYears(-idade)) idade--;
                    }

                    <h5>@idade anos</h5>

                    <h5>@Html.DisplayFor(model => model.Email) | @Html.DisplayFor(model => model.Numero)</h5>
        </dd>
    </dl>
        
            <hr />
            <p>Algumas clínicas podem solicitar informações adicionais para personalizar seu atendimento. 
    Garantimos que seus dados serão tratados com segurança e não serão compartilhados sem seu consentimento prévio, conforme a LGPD.</p>
            <p>Para mais informações ou para exercer seus direitos de privacidade, entre em contato diretamente com a clínica.</p>    
           
    <button class="btn" id="btn_agd">Consultar Agendamentos</button>
</body>
</html>
