/*body
{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}*/

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #135D66;
    color: #FFF;
}
    
img {
    position: absolute;
}

.img1 img {
    top: 35%;
    right: 60%;
}

.img2 img {
    bottom: 35%;
    left: 60%;
}

option {
    display: block;
    width: 100%;
}

h3 {
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}

p{
    text-align:justify;
}

h4{
    font-weight:bold;
}

.field-validation-error {
    color: red;
    font-size: 14px;
}