.container {
    padding: 20px;
}

.left {
    border-right: 1px solid #000;
}

.button-container {
    display: flex;
    flex-direction: column;
}

#social-icon-button {
    margin-bottom: 10px;
    background-color: white;
    color: black;
    border: 1px solid gray;
    padding: 10px 20px;
    margin-right: 20px;
    width: 500px;
    height: 50px;
    text-align: center;
}

#social-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.btn {
    border: 1px solid gray;
    border-radius: 50px;
    padding: 10px 20px;
    background-color: white;
    color: black;
    width: 500px;
    height: 50px;
    text-align: center;
}

#forgPass {
    float: right;
}

.login-form {
    width: 500px;
}

