.navbar-colorida {
    background-color: #77B0AA;
}

.navbar-light .navbar-brand {
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 600;
}

    .navbar-light .navbar-brand span {
        color: white;
    }

.navbar button {
    background-color: #135D66;
    border-radius: 50px;
    padding: 10px 20px;
    margin-right: 20px;
}

.nav-item {
    border: 1px solid white;
}

.icon {
    width: 20px;
    height: 20px;
}

.greeting-span {
    font-weight: bold;
    color: white;
}

body {
    background-color: #f0f0f0;
}


footer {
    background: #77B0AA;
    padding-top: 50px;
}

.container {
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.footer-content {
    width: 33.3%;
}

h3 {
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}

.footer-content p {
    width: 190px;
    margin: auto;
    padding: 7px;
}

.footer-content ul {
    text-align: center;
}

.list {
    padding: 0;
}

    .list li {
        width: auto;
        text-align: center;
        list-style-type: none;
        padding: 7px;
        position: relative;
    }
